.about-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 10vw;
}

.about-image img {
  height: 80vh;
  opacity: 0.8;
  margin-top: -5vh;
}

.about-content {
  margin-right: -10vw;
  z-index: 1;
}

.about-content h1 {
  font-size: 10vh;
}

.about-content p {
  padding: 1vh 0;
  font-weight: lighter;
  line-height: 1.5;
  font-size: 12px;
}

/*METHODOLOGY*/

.methodology-container {
  margin-top: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.methodology-title h1 {
  font-size: 4vw;
  margin-bottom: 2vh;
}

.methodology-tiles {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  width: 60vw;
}

.methodology-tiles img {
  padding-top: 4vh;
  padding-right: 2vw;
}

/*ABOUT CONTACT*/

.about-contact {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 4vh;
  width: 60vw;
}

.about-contact a {
  text-decoration: none;
  background-color: #ffffff;
  justify-content: center;
  align-items: center;
  color: black;
  margin-top: 0;

}



@media screen and (max-width: 600px) {
  .about-container {
    flex-direction: column;
  }
  .about-content {
    margin-right: 8vw;;
  }
  .about-content h1 {
    font-size: 16vw;
  }
  .about-image img {
    margin: 0;
    width: 90vw;
    height: 90vw;
  }
  .methodology-tiles img {
    height: 30vw;
    width: 20vw;
  }
  .methodology-title h1 {
    font-size: 8vw;
  }
  .about-contact a {
    height: 6vh;
    width: 18vw;
  }
}


































