.about-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.about-image img {
  height: 70vh;
  margin-right: 12vw;
}

.about-content {
  margin-left: 12vw;
  margin-right: -10vw;
  z-index: 1;
}

.about-content h1 {
  font-size: 12vh;
}

.about-content p {
  padding: 2vh 0;
}

/*METHODOLOGY*/

.methodology-container {
  margin-top: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.methodology-title h1 {
  font-size: 4vw;
  margin-bottom: 2vh;
}

.methodology-tiles {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  width: 60vw;
}

.methodology-tiles img {
  padding-top: 4vh;
  padding-right: 2vw;
}

/*ABOUT CONTACT*/

.about-contact {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 4vh;
  width: 60vw;
}

.about-contact a {
  text-decoration: none;
  background-color: #ffffff;
  justify-content: center;
  align-items: center;
  color: black;
  margin-top: 0;

}


































