.social-media-icons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 4vw;;
}

footer {
  position: fixed;
  bottom: 3vh;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.social-media-icons a {
  margin-top: 2vh;
  font-size: 2vh;
  color: white;
  text-decoration: none;
}

.social-media-icons a:hover {
  opacity: 0.5;
}

@media screen and (max-width: 600px) {
  footer {
    position: sticky;
    height: 10vh;
    width: 100vw;
    bottom: 0;
    z-index: 1;
    background-color: black;
    align-items: center;
    justify-content: flex-end;
  }
  .social-media-icons {
    flex-direction: row;
    margin-right: 8vw;
    padding-bottom: 2vh;
  }
  .social-media-icons a {
    padding-left: 4vw;
  }
}