.interview-u-screen {
  height: 50vh;
  width: 50vh;
  background-image: linear-gradient(to right, #5C56EF , #837EFB);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5vh;
}

.interview-u-screen img {
  height: 60vh;
}


/*QUESTION SCREEN*/

.title-screen {
  margin: 10vh 10vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.title-screen img {
  height: 80vh;
}

.title-column {
  width: 60vw;
  margin-right: 5vw;
}

.title-column h1 {
  font-size: 10vh;
}

.title-column h3 {
  font-size: 5vh;
}

.title-column h1, h3, p {
  margin-bottom: 5vh;
}

/**/
/**/
/**/
/*BASIC OUTLINE FOR MOST SCREENS  */
/**/
/**/
/**/

/* PURPLE VERSION */

.img-content-screen {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10vh 0;
  padding: 10vh 0;
}

#purple {
  background-image: linear-gradient(to right, #5C56EF , #837EFB);
}

.section-title h1 {
  writing-mode: vertical-lr;
  text-orientation: mixed;
  transform: rotate(180deg);

  font-weight: normal;

  font-size: 15vh;
    -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: white;
   color: transparent;
}

.section-image-container {
  margin-left: 5vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.img-content-screen img {
  max-height: 70vh;
  margin-right: 5vw;
}

.section-paragraphs {
  max-width: 50vw;
  line-height: 1.5;
  margin-right: 3vw;
}

 /**/
/* For more than 2 images */
/**/

.section-image-container-2 {
  margin-left: 5vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.section-image-container-2 img {
  width: 16vw;
  height: 32vw;
  margin-right: 5vw;
}

.section-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.section-paragraphs-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 5vh;
}

.section-paragraphs-2 p, ul {
  width: 35vw;
  margin-right: 5vw;
  line-height: 1.5;
}


/**/
/**/
/* overlapping */
/**/
/**/

.img-content-screen-overlap {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 10vh;
  padding-bottom: 30vh;
}

.img-content-screen-overlap img {
  max-height: 70vh;
  margin-top: -20vh;
  margin-right: 5vw;
}

/*#black {
  margin-top: -10vh;
}*/

/*#black img {
  margin-top: -30vh;
}*/

.fake-title {
  color: transparent;
  border: transparent;
  -webkit-text-stroke-color: transparent;
}

.conclusion-image {
  margin-left: auto;
  margin-right: auto;
  height: 50vh;
  width: 50vh;
  background-image: linear-gradient(to right, #5C56EF , #837EFB);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10vh;
}

.conclusion-image img {
  height: 60vh;
}











