:root {
  --main-color-black: #000000;
  --main-color-light-blue: #CCE1E5;
  --color-purple: #717E9D;
}

html {

  background-color: var(--main-color-black);
  height: 100%;

}

body {
  height: 100%;
}

@font-face {
    font-family: 'SpaceGrotesklight';
    src: url('../fonts/SpaceGrotesk-Light.woff2') format('woff2'),
        url('../fonts/SpaceGrotesk-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'SpaceGrotesk';
    src: url('../fonts/SpaceGrotesk-Bold.woff2') format('woff2'),
        url('../fonts/SpaceGrotesk-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'SpaceGrotesk';
    src: url('../fonts/SpaceGrotesk-Regular.woff2') format('woff2'),
        url('../fonts/SpaceGrotesk-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'SpaceGrotesk';
    src: url('../fonts/SpaceGrotesk-Medium.woff2') format('woff2'),
        url('../fonts/SpaceGrotesk-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}


@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


