nav {
  position: sticky;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-height: 16vh;
  background-color: transparent;
  padding-bottom: 2vh;
}

.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 7vw;
  color: transparent;
}


.nav-links li {
  text-decoration: none;
  padding-left: 5vw;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 2vh;
}

.nav-links a:hover {
  opacity: 0.5;
}

.logo {
  margin-left: 8vw;
  margin-top: 4vh;
}

.logo img {
  height: 10vh;
  width: -webkit-fill-availablevw;
}

.logo img:hover {
  opacity: 0.5;
}

@media screen and (max-width: 600px) {
  nav {
    height: 12vh;
    width: 100vw;
  }
  .logo img {
    height: 8vh;
    width: -webkit-fill-availablevw;
    padding-left: 6vw;
  }
}