nav {
  position: sticky;
  font-family: 'Nunito', sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-height: 16vh;
  background-color: var(--main-color-black);
}

.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 70px;
  color: transparent;
}

.nav-links li {
  text-decoration: none;
  padding: 10px;
  padding-left: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 130%;
}

.logo {
  padding-left: 4vw;
  margin-top: 4vh;
}

.logo img {
  height: 12vh;
  width: -webkit-fill-availablevw;
}

@media screen and (max-width: 600px) {
  nav {
    height: 12vh;
    width: 100vw;
  }
  .logo img {
    height: 8vh;
    width: -webkit-fill-availablevw;
    padding-left: 6vw;
  }
}