html {
  color: white;
}


/*PROJECT TITLE SECTION*/
.title-banner {
  padding-top: 100px;
  margin-bottom: 20%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 90px;
  -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: white;
   color: transparent;
}

.project-tag {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}

/*PROJECT OVERVIEW*/

.project-overview {
  margin-top: 200px;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-image: linear-gradient(to right, #5C56EF , #837EFB);
  padding: 50px;
}

.project-overview img {
  position: absolute;
  z-index: -1;
  width: 120%;

}

.role {
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;

}

.role h3 {
  font-size: 25px;
  font-weight: normal;
  margin-bottom: 10px;
}


.role ul {
  font-family: 'Montserrat', sans-serif;
  list-style: none;
  font-weight: lighter;
  font-size: 15px;
}

.role li {
  padding-bottom: 5px;
}

/*QUESTION*/
.project-question {
  margin-top:100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-question h2 {
  margin-top: 30px;
  font-size: 60px;
  width: 75%;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  margin-bottom: 40px;

}

/*PARAGRAPHS*/
.paragraphs {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.paragraphs p {
  width: 40%;
  padding: 30px;
}

/*VOILA*/
.voila-container {
  width: 100%;
  margin-bottom: 80px;
  margin-top: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
      background-image: linear-gradient(to right, #5C56EF , #837EFB);

}

.voila-container h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 120px;
  -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: white;
   color: transparent;
   font-weight: normal;

}

.voila-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 80px;
  margin-top: 80px;

  width: 120%;
   padding: 20px;
}

.voila-title h1 {
  padding-right: 120px;


}

.viola-screen {
  display: flex;
  flex-direction: row;
  margin-bottom: 80px;

}



.voila-screen p {
  font-size: 12px;
  padding: 15px;
}
.title-paragraph {
  font-size: 30px;
}


.section-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.screens {
  display: flex;
  flex-direction: column;
}

/*ONBOARDING*/

/*sideways onboarding title*/
.onboarding {
  display: flex;
  flex-direction: row;
  margin-bottom: 250px;
}

.sideways-title {
  width: 20%;
  min-width: 140px;
  display: flex;
  align-items: center;
}

.sideways-title h1 {
  writing-mode: vertical-lr;
  text-orientation: mixed;
  transform: rotate(180deg);

  font-weight: normal;

  font-size: 100px;
    -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: white;
   color: transparent;
}

.onboarding-title {

}

.onboarding-content {
  display: block;
}

.onboarding-image-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.onboarding-image-container img {
  padding-right: 30px;
}

.onboarding-paragraph-container {
  width: 90%;
  display: flex;
  flex-direction: row;
  padding-top: 80px;
  padding-left: 30px;
}

.onboarding-paragraph-container p {
  width: 90%;
}

.onboarding-paragraph-container li {
  padding-bottom: 20px;
}



/*Menu Screen*/


.menu {
  margin-top: 200px;
  background-image: linear-gradient(to right, #5C56EF , #837EFB);
  display: flex;
  flex-direction: row;
  padding-bottom: 50px;
}

.menu-content {
  display: flex;
  padding: 20px;
  margin-left: 60px;
  padding-bottom: 100px;
}

.menu-content img {
  margin-right: 70px;
  margin-top: -100px;
}

.menu-content ul {
  padding-bottom: 70px;
  padding-left: 20px;
  padding-top: 60px;
}

.menu-content li {
  padding-bottom: 20px;
  font-weight: bolder;
  font-size: 20px;
}

.menu-paragraphs {
  display: flex;
  flex-direction: column;
}

.menu-title {
  margin-top: 50%;
  margin-left: 40px;
}

/*home*/
.home {
  background-image: linear-gradient(to right, #5C56EF , #837EFB);
  display: flex;
  flex-direction: row;

  padding-bottom: 200px;
}

/*record*/
.record {
  display: flex;
  flex-direction: row;
  margin-bottom: 200px;
}

.record-content {
  display: flex;
  padding: 20px;
  margin-left: 100px;
  margin-bottom: 100px;
}

.record-content img {
  margin-right: 70px;
  margin-top: -100px;
}

.record-paragraph {
  padding-top: 100px;
}

/*practice your skillz*/

.practice {
  background-image: linear-gradient(to right, #5C56EF , #837EFB);
  display: flex;
  flex-direction: row;
/*  height: 600px;*/

}

h1.practice-title {
  font-size: 80px;
  padding: 40px;
  height: 100%;
  padding-bottom: 50px;
}


.practice img {
  margin: 10px;
}

/*review*/
.review {
  display: flex;
  flex-direction: row;
  margin-top: 200px;
}

/*progress*/
.progress {
  margin-top: 200px;
  display: flex;
  flex-direction: row;
/*  padding-bottom: 50px;
  width: 100%;*/
}

.progress-content {
  flex-direction: column;
  justify-content: space-around;
}

.progress-images {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 100px;
  padding-bottom: 80px;
}

.progress-images img {
  padding: 16px;
}

.progress-paragraphs {
  display: flex;
  flex-direction: row;
}

.progress-paragraphs p {
  margin-right: 40px;
  margin-top: 40px;
}

/*PROCESS TITLE PART OF PAGE*/
.process-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 90px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  color: transparent;
  text-align: center;
  margin-top: 200px;
  margin-bottom: 200px;
}

/*IDEATION*/
.ideation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.ideation-content {
  display: flex;
  flex-direction: column;
}

.ideation-image-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  display-content: space-around;
  margin: 10px;
}

.ideation-image-container img {
  padding: 10px;
  margin-top: 100px;
  display: flex;
  justify-content: space-around;
}


.ideation-paragraphs {
  display: flex;
  flex-direction: row;
}

.ideation-card {
  margin-top: 50px;
  width: 60%;
  margin-right: 20px;

}

.ideation-card p {
  margin-top: 20px;
  margin-right: 20px;
}

.ideation-card ul {
  margin-top: 20px;
}

.ideation-card li {
  margin-top: 10px;
}


/*Target market*/

.target-market {
  display: flex;
  flex-direction: row;
  margin-top: 100px;
  min-height: 800px;
}

.target-title {
  height: 100%;
}

.target-content-container {
  display: flex;
  flex-direction: row;
}

.target-character-card {
  padding: 20px;
}

.target-character-card h1 {
  margin-bottom: 50px;
}

.target-character-info {
  display: flex;
  flex-direction: row;
}

.purple-title {
  color: #837EFB;
  padding-bottom: 10px;
}

.target-info-column {
  margin: 32px;
}

.little-paragraphs {
  padding-top: 8px;
  padding-bottom: 8px;
  height: 96px;
}


/*VALUE*/

.value {
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: row;
}

.value-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.value-content-container {
  flex-direction: row;
  justify-content: space-around;
}

.value-content img {
  margin-bottom: 0px;
  margin-top: 20%;
}

/*USABILITY TESTING*/

.usability-title {
  height: 800px;
}

/*INTERVIEW*/

.interview {
  display: flex;
  flex-direction: row;
  margin-top: 300px;
  height: 100%;
  margin-bottom: 116px;
}

.interview-container {
  flex-direction: column;
}

.interview-container h2 {
  padding-bottom: 48px;
}

.interview-content {
  flex-direction: row;
  padding-right: 32px;
}

.interview-paragraphs {
  flex-direction: column;
}

.interview-paragraphs p {
  padding-bottom: 32px;
}











