html {
  font-family: 'Montserrat', sans-serif;
}

.first-screen {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 15vw;
  margin-bottom: 30vh;
}

.first-screen-content {
  width: 40vw;
}

.first-screen-content h1 {
  margin: 4vh 0;
}

.first-screen-image {
  background-color: #47d5db;
  border-radius: 50%;
  height: 60vh;
  width: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5vh;
}

.first-screen-image img {
  height: 80vh;
}

.first-screen-title {
  margin-bottom: 4vh;
}

/*SECOND SCEEN*/

.second-screen-image {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60vh;
  width: 60vh;
}

.second-screen-image img {
  height: 40vh;
}

.quote {
  width: 40vw;
  text-align: center;
  margin: 0 auto;
  margin-top: -8vh;
  font-size: 2vh;
}

.gradient-screen {
  padding: 10vh 0;
  background-image: linear-gradient(#070EA9 , #070EA9, #070EA9, #47d5db);
}

/*How might we get rid of containers forever*/

/*THIRD SCREEN*/

.third-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.third-screen-title {
  font-size: 2vh;
  margin-bottom: 2vh;
}

.third-screen-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.third-screen-writing {
  width: 30vw;
}

.third-screen-writing h2 {
   margin-bottom: 5vh;
}

.third-screen-image img {
  height: 60vh;
}
/**/
/**/
/*TITLE*/
/**/
/**/
.break-title {
  color: white;
  padding-top: 10vh;
/*  margin-bottom: 2vh;*/
  font-size: 3vh;
  margin-left: 8vw;
  margin-top: 20vh;
}


/*THIRD SCREEN CONTINUED*/

/*GOALS SECTION*/

.goals {
  background-image: linear-gradient(to right, #070EA9 , #47d5db);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0 8vw;
}

.goals-title {
  text-align: center;
  margin: 3vh 0;
}

.column {
  width: 27vw;
  text-align: center;
  margin: 5vh 2vw;
}

.column-title {
  margin-bottom: 2vh;
  padding: 0 3vw;
  font-size: 2.5vh;
}

.column-para {
  font-size: 1.5vh;
  font-weight: normal;
}


/*PROFILE CARD - SAME AS ONES IN INTERVIEW U SCREEN*/

.profile-screen {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 20vh 0;
}

.profile-screen img {
  height: 70vh;
}

.profile-image {
  background-color: #47d5db;
  height: 60vh;
  width: 60vh;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10vh 5vh;
}

.profile-title {
  margin-bottom: 2vh;
  color: #665eff;
  font-size: 4vh;
  font-weight: bold;
}

.profile-columns {
  display: flex;
  flex-direction: row;
}

.profile-column {
  width: 20vw;
  margin-right: 5vw;
}

.green-title {
  color: #47d5db;
  margin: 1.5vh 0;
}

.section {
  height: 20vh;
}

.section hr {
  margin: 1.5vh 0;
}

.section p, li {
  font-size: 1.5vh;
  font-weight: 100;
  margin-bottom: 1vh;
  line-height: 1.4;
}

/*PROFILE CARD VARIANT - SOPHIE CARD*/

.profile-image-2 {
  background-color: #665eff;
  height: 60vh;
  width: 60vh;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10vh 5vh;
}

/*BREAK TITLE FOR FEATURES*/
.break-title-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20vh 0;
}

.break-title-2 p {
  text-align: center;
  width: 40vw;
  margin: 2vh 0;
}


/**/
/**/
/*GENERAL CSS FOR FEATURE SCREENS*/
/**/
/**/

.feature-title {
  margin-left: 4vw;
}

.feature-screen-onboard {
  display: flex;
  flex-direction: column;
  margin: 20vh 5vw;
}

.feature-screen {
  display: flex;
  flex-direction: column;
  margin: 20vh 10vw;
}

.feature-images-onboard img{
  width: 18vw;
  height: 28vw;
}

.feature-images img {
  width: 20vw;
  height: 30vw;
}

.feature-images-onboard {
  margin: 5vh 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.feature-images {
  margin: 5vh 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.feature-paragraphs {
  display: flex;
  flex-direction: row;
  margin: 0 5vw;
}

.feature-paragraphs p {
  margin: 0 2vw;
}

/**/
/**/
/**/
/*CONTENT - GENERAL CSS*/
/**/
/**/
/**/

.content {
  margin: 0 10vw;
}

.content img {
  width: 80vw;
  margin: 5vh 0;
}

.content h1 {
  margin: 5vh 0;
}

.content p {
  margin-bottom: 2vh;
}

.content-break-text {
  margin: 10vh 20vw;
  text-align: center;
}

/**/
/*KEY FINDINGS*/
/**/

.key-findings {
  margin: 10vh 10vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.key-findings h2 {
  margin-bottom: 5vh;
}

.purple-list {
  background: #5C56EF;
  border-radius: 30px;
  padding: 5vh;
  height: 60vh;
  width: 35vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


/**/
/**/
/**/
/*SLIDESHOW*/
/**/
/**/
/**/

.slideshows {
  margin: 10vh 10vw;
}

.slideshow-container {
  margin-bottom: 30vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.slideshow-container img {
  margin: auto;
  width: 60vw;
}

.slideshow-writing {
  height: 25vh;
  width: 50vw;
  text-align: center;
  margin: auto;
  margin-top: 20px;
}

.slideshow-title {
  text-align: center;
  margin-bottom: 5vh;
}

.slideshow-paragraphs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 12vw;
  margin-top: -25vh;
  margin-bottom: 20vh;
}

.slideshow-card {
  width: 25vw;
}

.slideshow-card, .slideshow-writing p {
  font-size: 12px;
  margin-top: 10px;
  line-height: 1.5;
}

.left-button, .right-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #D5D8DC  ;
  border: none;
  color: black;
  margin-bottom: 20vh;
}

.left-button {
  margin-right: 5vw;
}

.right-button {
  margin-left: 5vw;
  right: 0;
}

/**/
/**/
/**/
/* interview u link */
/**/
/**/
/**/

.interview-u-link {
  text-align: center;
  margin-bottom: 30vh;
  margin-top: -10vh;
}

.interview-u-link a {
  text-decoration: none;
  color: white;
}

.interview-u-link i {
  font-size: 2vh;
}

.interview-u-link:hover {
  opacity: 0.5;
}






















