<!DOCTYPE html>
  <html class='' lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <link rel="stylesheet" href="../css/main.css">
      <link rel="stylesheet" href="../css/nav.css">
      <link rel="stylesheet" href="../css/projectsContainer.css">
      <link rel="stylesheet" href="../css/footer.css">
      <link rel="stylesheet" href="../css/about.css">


      <title>About Dil</title>

  </head>


  <body>
    <header>
      <nav>
          <div class="logo"><a href="home.html"><img src="../assets/logo.png" alt="logo" height="42" width="42"></div>

          <ul class="nav-links">
            <li><a href="about.html">About</a></li>
            <li><a href="contact.html">Contact</a></li>
          </ul>
      </nav>
    </header>


    <div class="about-container">
        <div class="about-view">
            <img src="../assets/jill_profile.jpg" alt="jill_profile">
            <div class="about-sentences">
              <h2>Hi, my name is Jill.</h2>
              <h4>I design beautiful things for a beautiful experience.</h4>
              <h4>My friends call me Dil.</h4>
              <h4>You can pick which one you prefer.</h4>
            </div>
        </div>
    </div>

    <footer>
      <a href="#">Works</a>
    </footer>

</body>





</html>
