<!DOCTYPE html>
  <html class='' lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <link rel="stylesheet" href="../css/main.css">
      <link rel="stylesheet" href="../css/nav.css">
      <link rel="stylesheet" href="../css/projectsContainer.css">
      <link rel="stylesheet" href="../css/footer.css">


      <title>About Dil</title>

  </head>


  <body>
    <header>
      <nav>
          <div class="logo">
            <img src="../assets/logo.png" alt="logo" height="42" width="42">
          </div>

          <ul class="nav-links">
            <li><a href="about.html">About</a></li>
            <li><a href="contact.html">Contact</a></li>
          </ul>
      </nav>
    </header>


    <div class="projects-container">
        <a href="project.html">
          <div class="project-view">
              <img src="../assets/everest_cloud.jpg" alt="everest_sunset">
              <h2>Project 1</h2>
          </div>
        </a>
    </div>

    <footer>
      <a href="#">Works</a>
    </footer>

</body>





</html>
