<!DOCTYPE html>
  <html class='' lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
      <link rel="stylesheet" href="../css/interview-u.css">
      <link rel="stylesheet" href="../css/footer.css">
      <link rel="stylesheet" href="../css/project.css">
      <link rel="stylesheet" href="../css/rebox.css">
      <link rel="stylesheet" href="../css/back-to-top.css">

      <link rel="stylesheet" href="../css/main.css">
      <link rel="stylesheet" href="../css/nav.css">
      <link rel="stylesheet" href="../css/home.css">
      <link rel="stylesheet" href="../css/footer.css">
      <link rel="stylesheet" href="../css/about.css">
      <link rel="stylesheet" href="../css/rebox.css">
      <link rel="stylesheet" href="../css/back-to-top.css">

      <script type="text/javascript" src="../javascript/back-to-top.js"></script>

      <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">


      <title>About Dil</title>

  </head>


  <body>
    <header>
      <nav>
          <div class="logo">
            <a href="home.html"><img src="../assets/home/jill-logo.png" alt="logo"></a>
          </div>

          <ul class="nav-links">
            <li><a href="work.html">Work</a></li>
            <li><a href="about.html">About</a></li>

          </ul>
      </nav>
    </header>

    <div class="first-screen">
      <div class="first-screen-content">
        <h1 class="first-screen-title">iOS Mobile App Design</h1>
        <p>This all began as a project for a 24 hour Hackathon. However, 24 hours just wasn’t enough for me. I wanted to go full UX on the idea. So here’s where I ended up.</p>
        <h1>Role in Project</h1>
        <p>UX/UI Design, User Research, Prototyping, <br>Usability Testing, Competitive Analysis</p>
        <h1>Duration</h1>
        <p>6 weeks (February-March 2019)<br> Part-Time</p>
      </div>
      <div class="interview-u-screen">
        <img src="../assets/interview-u/1.png" alt="interview-u-homescreen">
      </div>
    </div>

    <div class="title-screen">
      <div class="title-column">
        <h1>Interview U</h1>
        <h3>iOS Mobile Application Design</h3>
        <p>This is a paragraph that jill needs to fill in. This is a question many university students find asking themselves as they near the end of their degree. Competition is fierce and with an estimated 1.7M students enrolled in postsecondary education it can often feel overwhelming trying to find your place in this cold world. (brr)</p>
        <p>Interviews are the ultimate question of ones value. How do you sell yourself? How do you convince someone that they should pay you money and invest time in you? How do you stand out against the thousands of other applicants? If you decide to keep reading I am going to answer those for you. Well, try to at least.</p>
        <p>Interviews are the ultimate question of ones value. How do you sell yourself? How do you convince someone that they should pay you money and invest time in you? How do you stand out against the thousands of other applicants? If you decide to keep reading I am going to answer those for you. Well, try to at least.</p>
      </div>
      <img src="../assets/interview-u/lady-redhair.png" alt="lady with red hair">
    </div>

    <div class="img-content-screen" id="purple">
      <div class="section-title">
        <h1>Voila!</h1>
      </div>
      <div class="section-image-container">
        <img src="../assets/interview-u/1.png" alt="interview-u-homescreen">
      </div>
      <div class="section-paragraphs">
        <p>The ultimate interview prep mobile app. Interview U allows you to hone your skills so you can start making the big bucks!</p>
        <p>One of the best ways to improve in all aspects of expression whether it be athletic, vocal or perforamce is to record yourself. This premise is what kicked off the project. There are no real metrics to know how you did in interviews, you either get the job or you don’t.</p>
        <p>In order to mitigate this pain point and help thousands get tangible feedback on their performance came the idea of Interview U: the app that allows playback and saving your responses to questions in order to see areas of improvement.</p>
      </div>
    </div>

    <div class="img-content-screen">
      <div class="section-title">
        <h1>Onboarding</h1>
      </div>
      <div class="section-column">
        <div class="section-image-container-2">
          <img src="../assets/interview-u/1.png" alt="interview-u-homescreen">
          <img src="../assets/interview-u/1.png" alt="interview-u-homescreen">
          <img src="../assets/interview-u/1.png" alt="interview-u-homescreen">
          <img src="../assets/interview-u/1.png" alt="interview-u-homescreen">
        </div>
        <div class="section-paragraphs-2">
           <p>The onboarding is designed to be easy and efficient while effectively gathering the data necesary to tailor the interviews for the individual specific goals and background. The app is targeted towrads commerce students.</p>
          <ul>
            <li>University will give you location and general vicinity</li>
            <li>Focus of study is for Commerce students: feedback made it clear to narrow down scope</li>
            <li>Career goal narrows down what type of job interviewees are going to be looking for so this will also help give relevant and more specified questions</li>
          </ul>
        </div>
      </div>
    </div>






























    <div class="interview-u-link"><a href="rebox.html">Next Project: ReBox <i class="fas fa-arrow-right"></i></a></div>

    <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>

    <footer>
      <div class="social-media-icons">
        <a href="mailto:jillavis2@gmail.com"><i class="far fa-envelope"></i></a>
        <a href="https://www.linkedin.com/in/jillavis/"><i class="fab fa-linkedin-in"></i></a>
        <a href="https://www.instagram.com/dil.design/"><i class="fab fa-instagram"></i></a>
      </div>
    </footer>

  </body>
</html>







