<!DOCTYPE html>
  <html class='' lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <link rel="stylesheet" href="../css/main.css">
      <link rel="stylesheet" href="../css/nav.css">
      <link rel="stylesheet" href="../css/interview-u.css">
      <link rel="stylesheet" href="../css/footer.css">
      <link rel="stylesheet" href="../css/project.css">
      <link rel="stylesheet" href="../css/rebox.css">

      <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">


      <title>About Dil</title>

  </head>


  <body>
    <header>
      <nav>
          <div class="logo">
            <img src="../assets/home/jill-logo.png" alt="logo">
          </div>

          <ul class="nav-links">
            <li><a href="work.html">Work</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="play.html">Play</a></li>
          </ul>
      </nav>
    </header>

    <div class="first-screen">
      <div class="first-screen-content">
        <h1 class="first-screen-title">iOS Mobile App Design</h1>
        <p>This all began as a project for a 24 hour Hackathon. However, 24 hours just wasn’t enough for me. I wanted to go full UX on the idea. So here’s where I ended up.</p>
        <h1>Role in Project</h1>
        <p>UX/UI Design, User Research, Prototyping, <br>Usability Testing, Competitive Analysis</p>
        <h1>Duration</h1>
        <p>6 weeks (February-March 2019)<br> Part-Time</p>
      </div>
      <div class="interview-u-screen">
        <img src="../assets/interview-u/1.png" alt="interview-u-homescreen">
      </div>
    </div>

    <div class="title-screen">
      <div class="title-column">
        <h1>Interview U</h1>
        <h3>iOS Mobile Application Design</h3>
        <p>This is a paragraph that jill needs to fill in. This is a question many university students find asking themselves as they near the end of their degree. Competition is fierce and with an estimated 1.7M students enrolled in postsecondary education it can often feel overwhelming trying to find your place in this cold world. (brr)</p>
        <p>Interviews are the ultimate question of ones value. How do you sell yourself? How do you convince someone that they should pay you money and invest time in you? How do you stand out against the thousands of other applicants? If you decide to keep reading I am going to answer those for you. Well, try to at least.</p>
        <p>Interviews are the ultimate question of ones value. How do you sell yourself? How do you convince someone that they should pay you money and invest time in you? How do you stand out against the thousands of other applicants? If you decide to keep reading I am going to answer those for you. Well, try to at least.</p>
      </div>
      <img src="../assets/interview-u/lady-redhair.png" alt="lady with red hair">
    </div>

    <div class="img-content-screen">
      <div class="section-title">
        <h1>Voila!</h1>
      </div>

      <img src="../assets/interview-u/1.png" alt="interview-u-homescreen">























































