<!DOCTYPE html>
  <html class='' lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
      <link rel="stylesheet" href="../css/main.css">
      <link rel="stylesheet" href="../css/nav.css">
      <link rel="stylesheet" href="../css/home.css">
      <link rel="stylesheet" href="../css/footer.css">
      <link rel="stylesheet" href="../css/about.css">
      <link rel="stylesheet" href="../css/rebox.css">


      <title>About Dil</title>

  </head>


  <body>
    <header>
      <nav>
          <div class="logo">
            <img src="../assets/home/jill-logo.png" alt="logo">
          </div>

          <ul class="nav-links">
            <li><a href="work.html">Work</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="play.html">Play</a></li>
          </ul>
      </nav>
    </header>

    <div class="first-screen">
      <div class="first-screen-content">
        <h1 class="first-screen-title">01 ReBox App Design</h1>
        <p>This all began as a project for a 24 hour Hackathon. However, 24 hours just wasn’t enough for me. I wanted to go full UX on the idea. So here’s where I ended up.</p>
        <p>Hope you enjoy.</p>
        <h1>Role in Project</h1>
        <p>UX/UI Design, User Research, Prototyping, <br>Usability Testing, Competitive Analysis</p>
        <h1>Duration</h1>
        <p>6 weeks (February-March 2019)<br> Part-Time</p>
      </div>

      <div class="first-screen-image">
        <img src="../assets/rebox/homescreenReBox.png" alt="rebox-homescreen">
      </div>
    </div>

    <div class="first-screen">
      <div class="first-screen-content">
        <h1>How it started</h1>
        <p>Given the task of tackling sustaible health my team and I came up with the idea of taking on the challenge of take out container waste. After the 24 hour period we had a cute XD prototype that had some features but I wasn’t satisfied. I wanted to go full UX on this sh** so this is where I landed.</p>
        <h1>Why I continued</h1>
        <p>As much as we like to think we are sustainable gurus here in Vancouver I am sad to say, we most certainly are not.</p>
      </div>
      <div class="second-screen-image">
        <img src="../assets/rebox/tweet.png" alt="tweet">
      </div>
    </div>











































    <footer>
      <div class="social-media-icons">
        <a href="mailto:jillavis2@gmail.com"><i class="far fa-envelope"></i></a>
        <a href="https://www.linkedin.com/in/jillavis/"><i class="fab fa-linkedin-in"></i></a>
        <a href="https://www.instagram.com/dil.design/"><i class="fab fa-instagram"></i></a>
      </div>
    </footer>

</body>





</html>
