<!DOCTYPE html>
  <html class='' lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

      <link rel="stylesheet" href="../css/main.css">
      <link rel="stylesheet" href="../css/nav.css">
      <link rel="stylesheet" href="../css/home.css">
      <link rel="stylesheet" href="../css/footer.css">
      <link rel="stylesheet" href="../css/about.css">
      <link rel="stylesheet" href="../css/rebox.css">
      <link rel="stylesheet" href="../css/project.css">
      <link rel="stylesheet" href="../css/back-to-top.css">

      <script type="text/javascript" src="../javascript/back-to-top.js"></script>



      <title>About Dil</title>

  </head>


  <body>
    <header>
      <nav>
          <div class="logo">
            <a href="home.html"><img src="../assets/home/jill-logo.png" alt="logo"></a>
          </div>

          <ul class="nav-links">
            <li><a href="work.html">Work</a></li>
            <li><a href="about.html">About</a></li>

          </ul>
      </nav>
    </header>

    <div class="first-screen">
      <div class="first-screen-content">
        <h1 class="first-screen-title">01 ReBox App Design</h1>
        <p>This all began as a project for a 24 hour hackathon, however, 24 hours wasn’t enough for me. I really wanted to fully flush out the project and go full UX designer on the idea. Here’s where I ended up.</p>
        <h1>Role</h1>
        <p>UX/UI Design, Prototyping, Usertesting, Competitive Analysis</p>
        <h1>Duration</h1>
        <p>6 weeks (February-March 2019)<br> Part-Time</p>
      </div>

      <div class="first-screen-image">
        <img src="../assets/rebox/1-landing.png" alt="rebox-homescreen">
      </div>
    </div>

    <!-- THE NEXT SCREEN -->
    <div class="gradient-screen">
      <div class="first-screen">
        <div class="first-screen-content">
          <h1 class="first-screen-title">How it started</h1>
          <p>Given the task of tackling sustaible health my team and I came up with the idea of taking on the challenge of take out container waste. After the 24 hour period we had a cute XD prototype that had some features but I wasn’t satisfied. I wanted to go full UX on this sh** so this is where I landed.</p>
          <h1>Why I continued</h1>
          <p>As much as we like to think we are sustainable gurus here in Vancouver I am sad to say, we most certainly are not.</p>
        </div>
        <div class="second-screen-image">
          <img src="../assets/rebox/tweet.png" alt="tweet">
        </div>
      </div>
      <div class="quote">
        <h2>"Disposable cups and take-out containers make up roughly half of the garbage that's tossed in Vancouver's public waste bins"</h2>
        <h2>-Monica Kosmak</h2>
      </div>
    </div>

    <h1 class="break-title">How might we get rid of disposable containers forever...</h1>

    <div class="third-screen">
      <div class="third-screen-container">
        <div class="third-screen-writing">
          <h2><strong>ReBox:</strong> The reusable take out container service.</h2>
          <h2>Convenient, easy and sustainable.</h2>
        </div>
        <div class="third-screen-image">
          <img src="../assets/rebox/1-landing.png" alt="homescreenReBox">
        </div>
      </div>
    </div>

    <div class="third-screen-b">
      <h2 class="goals-title">Goals</h2>
      <div class="goals">
        <div class="column">
          <h3 class="column-title">Make it the New Norm</h3>
          <p class="column-para">Replace preconceived notions about how takeout is practiced. No longer associated with disposable.</p>
        </div>
        <div class="column">
          <h3 class="column-title">Reduce Waste In VanCity</h3>
          <p class="column-para">At the moment HALF of the trash in our garbage cans is disposable containers. ReBox seeks to take actiona against this.</p>
        </div>
        <div class="column">
          <h3 class="column-title">Incentivise Continued Use</h3>
          <p class="column-para">It is one thing to get people to try your product, let alone use it on a regular basis! ReBox seeks to be so seemless that users will come back again and again.</p>
        </div>
      </div>
    </div>

    <h1 class="break-title">Let's take a look at the early adopters of ReBox</h1>

<!-- THESE ARE THE PROFILE CARDS -->

    <div class="profile-screen">
      <div class="profile-image">
        <img src="../assets/rebox/dan.png" alt="Cartoon lady">
      </div>
      <div class="profile-screen-content">
        <h2 class="profile-title">Dan Lee: The Young Professional</h2>
        <div class="profile-columns">
          <div class="profile-column">
            <div class="section">
              <h3 class="green-title">About</h3>
              <hr></hr>
              <p>Age 25-35</p>
              <p>Yearly Salary $30 000-100 000</p>
              <p>Education: Undergrad</p>
            </div>
            <div class="section">
              <h3 class="green-title">Young Professional</h3>
              <hr></hr>
              <p>Tend to be career focused and hardworking. Limited time and resources, so time is money.</p>
            </div>
            <div class="section">
              <h3 class="green-title">Takeout Motivation</h3>
              <hr></hr>
              <ul>
                <li>Convenience</li>
                <li>Sustainability</li>
                <li>Efficiency</li>
                <li>Practical</li>
              </ul>
            </div>
          </div>

          <div class="profile-column">
            <div class="section">
              <h3 class="green-title">Motivations</h3>
              <hr></hr>
              <p>Motivated to further their career and put in the hours required. Educated and keen to help make change. They care a great deal about how they are perceived.</p>
            </div>
            <div class="section">
              <h3 class="green-title">Core Needs</h3>
              <hr></hr>
              <p>Being able to easily a reusable takeout service that required limited effort and time/</p>
            </div>
            <div class="section">
              <h3 class="green-title">Pain Points</h3>
              <hr></hr>
              <p>Eating out everyday, and seeing all of the waste produced. Not having time to cook lunch, so continuing the cycle. Caring about how their workers view them and their image.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="profile-screen">
      <div class="profile-image-2">
        <img src="../assets/interview-u/lady-redhair.png" alt="Cartoon lady">
      </div>
      <div class="profile-screen-content">
        <h2 class="profile-title">Sophie Gray: The University Student</h2>
        <div class="profile-columns">
          <div class="profile-column">
            <div class="section">
              <h3 class="green-title">About</h3>
              <hr></hr>
              <p>Age 18-25</p>
              <p>Yearly Salary <$30 000</p>
              <p>Education: Undergrad</p>
            </div>
            <div class="section">
              <h3 class="green-title">University Student</h3>
              <hr></hr>
              <p>Tends to have a very full schedule packed with all kinds of social events. Sustainability will often come second to convenienve. Highly influenced by trends and peer groups</p>
            </div>
            <div class="section">
              <h3 class="green-title">Takeout Motivation</h3>
              <hr></hr>
              <ul>
                <li>Convenience</li>
                <li>Sustainability</li>
                <li>Social</li>
                <li>Practical</li>
              </ul>
            </div>
          </div>

          <div class="profile-column">
            <div class="section">
              <h3 class="green-title">Motivations</h3>
              <hr></hr>
              <p>Motivated to finish their degree. Often influenced by their peer groups and influencers online in regard to their interest groups.</p>
            </div>
            <div class="section">
              <h3 class="green-title">Core Needs</h3>
              <hr></hr>
              <p>Being able to grab meals on the go that are fast and as easy as possible. Drop off points should be around major commuting routes.</p>
            </div>
            <div class="section">
              <h3 class="green-title">Pain Points</h3>
              <hr></hr>
              <p>Spending all of their money on food and alcohol. Not having enought time to cook and/or clean. Wanting to be a part of the change but not sure how to do it.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="break-title-2">
      <h2>Features</h3>
      <p>With a clear idea of who I was designing for I created features that I found would best serve their specific needs and use cases.</p>
    </div>

    <div class="feature-screen-onboard">
      <h2 class="feature-title">How ReBox Works: Onboarding</h2>
      <div class="feature-images-onboard">
        <img src="../assets/rebox/onboarding/1-onboard.png">
        <img src="../assets/rebox/onboarding/2-onboard.png">
        <img src="../assets/rebox/onboarding/3-onboard.png">
        <img src="../assets/rebox/onboarding/4-onboard.png">
        <img src="../assets/rebox/onboarding/5-onboard.png">
      </div>
      <div class="feature-paragraphs">
        <p>The onboarding walks users through how the app is used IRL. It demonstrates the steps that physically take place and portrays how easily ReBox can be integrated into everyday life.</p>
        <p>Additionally during the onboarding users are prompted to make an account if they are to use ReBox’s services. During the sign up process users will need to give their credit card information.</p>
      </div>
    </div>

    <div class="feature-screen">
      <h2 class="feature-title">ReBox Map</h2>
      <div class="feature-images">
        <img src="../assets/rebox/map-1b.png">
        <img src="../assets/rebox/map-2.png">
        <img src="../assets/rebox/map-3.png">
        <img src="../assets/rebox/map-4b.png">
      </div>
      <div class="feature-paragraphs">
        <p>The onboarding walks users through how the app is used IRL. It demonstrates the steps that physically take place and portrays how easily ReBox can be integrated into everyday life.</p>
      </div>
    </div>

    <div class="feature-screen">
      <h2 class="feature-title">ReBox Scan</h2>
      <div class="feature-images">
        <img src="../assets/rebox/scan-1b.png">
        <img src="../assets/rebox/scan-2b.png">
        <img src="../assets/rebox/scan-3b.png">
        <img src="../assets/rebox/scan-4b.png">
      </div>
      <div class="feature-paragraphs">
        <p>The onboarding walks users through how the app is used IRL. It demonstrates the steps that physically take place and portrays how easily ReBox can be integrated into everyday life.</p>
        <p>The onboarding walks users through how the app is used IRL. It demonstrates the steps that physically take place and portrays how easily ReBox can be integrated into everyday life.</p>
      </div>
    </div>

    <div class="feature-screen">
      <h2 class="feature-title">My ReBox: Box's and Rewards</h2>
      <div class="feature-images">
        <img src="../assets/rebox/my-1.png">
        <img src="../assets/rebox/my-2.png">
        <img src="../assets/rebox/my-3.png">
      </div>
      <div class="feature-paragraphs">
        <p>The onboarding walks users through how the app is used IRL. It demonstrates the steps that physically take place and portrays how easily ReBox can be integrated into everyday life.</p>
      </div>
    </div>

    <div class="feature-screen">
      <h2 class="feature-title">Profile</h2>
      <div class="feature-images">
        <img src="../assets/rebox/profile-1.png">
        <img src="../assets/rebox/profile-2.png">
        <img src="../assets/rebox/profile-3.png">
      </div>
      <div class="feature-paragraphs">
        <p>The onboarding walks users through how the app is used IRL. It demonstrates the steps that physically take place and portrays how easily ReBox can be integrated into everyday life.</p>
      </div>
    </div>

    <div class="break-title-2">
      <h2>Ideation Process: The Hackathon</h3>
      <p>At XD Hacks that took place at the University of British Columbia February 9-10 2019, my team and I took task of tackling current problems facing the Global Resources & Foods Path. We came up with the idea of tackling the disposable container problem as it is extremely prevalent in Vancouver.</p>
    </div>

    <div class="content">
      <h1>My Team</h2>
      <p>Brian Cheng - UX Designer and GIS Specialist</p>
      <p>Jasmine L - Biology Majoy at UBC</p>
      <h1>What we achieved after 24 hours</h2>
      <p>Brian made this in 3 hours, he also did all of the prototyping to display our protoype to the judges (pretty impressive!). Check out his work at designsbybrian.ca</p>
      <img src="../assets/rebox/myteam-1.png">
      <p>I made the onboarding, logo, and worked on the slide deck with Jasmine</p>
      <img src="../assets/rebox/myteam-2.png">
      <p>Jasmine researched the feasibility of the project nd created an implemenation plan that we pitched to the judges.</p>
    </div>


    <p class="content-break-text">After the 24 hour hackathon period, I was super stoked on the idea and decided to take it to the next level by implementing user research and stronger visual design.</p>

    <div class="break-title-2">
      <h1>Post Hackathon</h1>
    </div>

    <div class="break-title-2">
      <h2>Design Process</h3>
      <p>Organizing a hierarchy of information was critical for ReBox. Continued research and iteration was crucial to understanding users and how to best tailor ReBox to their needs and motivations.</p>
    </div>

    <div class="content">
      <h1>Step 1: Survey's and Interviews</h2>
      <p>In order to get to know my users better I created a survey with 20 respondents and conducted interviews with 5 individuals. I find this to be a good jumping off point for user research as it gives you some idea towards general tendencies and opinions. It allowed me to focus my efforts on delving into users habits on a much narrower scope. The general things that I was trying to identify was who ReBox’s users were; their habits, age, motivations, core needs and pain points. Ultimately this phase helped me figure out what my early adopter target market looked like.</p>
    </div>

    <div class="key-findings">
      <div>
        <h2>Key Findings</h2>
        <ul class="purple-list">
          <li>70% of individuals order take out AT LEAST once a month</li>
          <li>55% of individuals order take out AT LEAST once a week</li>
          <li>Individuals order take out for themselves usually during lunch and in a group for dinner</li>
          <li>75% of Individuals are more likely to reuse a service if there is some sort of incentive system involved</li>
          <li>Convenience was more important to respondents than being responsible</li>
          <li>The main motivators in peoples lives as University students was convenience, sustainability, social, and practicality</li>
          <li>The majority of people are concerned about climate change but find it difficult to take action in their everyday lives.</li>
          <li>75% of Individuals order take out from the same restaurants</li>
          <li>The main motivators in peoples lives as young professionals was convenience, sustainability, efficiency, and practicality</li>
        </ul>
      </div>
      <div>
        <h2>Defining Users Main Goals</h2>
        <ul class="purple-list">
          <li>Easy. Short lunch breaks.</li>
          <li>Popular restaurants around the downtown core.</li>
          <li>Drop boxes in work buildings and dense residential areas.</li>
          <li>Convenient.</li>
          <li>Practical. Don’t want to do the dishes.</li>
          <li>Fast. Pre order?--> maybe partnership with food ordering services</li>
          <li>or restaurants already established partnerships providing additional options with regard to ReBox Option</li>
        </ul>
      </div>
    </div>

    <div class="break-title-2">
      <p>Organizing a hierarchy of information was critical for ReBox. Continued research and iteration was crucial to understanding users and how to best tailor ReBox to their needs and motivations.</p>
    </div>

    <!-- SLIDESHOWS -->


    <div class="slideshows">
      <div class="slideshow-container">
        <button class="left-button" onclick="plusDivs(-1, 0)">&#10094;</button>
        <div class="mySlides1">
          <img src="../assets/rebox/1-slideshow/infoarch.jpg">
          <div class="slideshow-writing">
            <h2>Information Architecture</h2>
            <p>The information architecture map helped me to visualize what top level elements would be and how they would relate to the other features. ReBox was relatively straight forward as their isn’t a huge amount of overlap between information.</p>
          </div>
        </div>
        <div class="mySlides1">
          <img src="../assets/rebox/1-slideshow/featureflow.jpg">
          <div class="slideshow-writing">
            <h2>Feature Flows</h2>
            <p>Feature flows allow me to explore the different paths and branches that users can take while completing different tasks. An insight gained from this exercise was that users have to enable their camera in order to use the app. This step can be completed during the on-boarding and sign up.</p>
          </div>
        </div>
        <div class="mySlides1">
          <img src="../assets/rebox/1-slideshow/userflow.jpg">
          <div class="slideshow-writing">
            <h2>User Flows</h2>
            <p>The purpose of the user flows are to identify the main paths the user is going to take through the app. By focusing on the main tasks that users will need to complete I was able to figure out how to tailor specific services to these use cases. An example would be with Dan the young professional, having a drop box around or even in his building would be convenient and good user experience.</p>
          </div>
        </div>
        <div class="mySlides1">
          <img src="../assets/rebox/1-slideshow/userstory.jpg">
          <div class="slideshow-writing">
            <h2>User Stories</h2>
            <p>The user case story delves into a potential users interaction with the app from discovery to continued use. It is a good exercise to identify how users will come across the app, how it fits into their daily life and what might incentivize them to continue using the app. From this exercise a major take away was that users will want a simple option to split the bill if they are ordering in a group.</p>
          </div>
        </div>
        <button class="right-button" onclick="plusDivs(1, 0)">&#10095;</button>
      </div>

      <h1 class="slideshow-title">Visuals</h1>

      <div class="slideshow-container">
        <button class="left-button" onclick="plusDivs(-1, 1)">&#10094;</button>
        <img class="mySlides2" src="../assets/rebox/2-slideshow/styletile.jpg">
        <img class="mySlides2" src="../assets/rebox/2-slideshow/brandwords.jpg">
        <img class="mySlides2" src="../assets/rebox/2-slideshow/moodboard.jpg">
        <button class="right-button" onclick="plusDivs(1, 1)">&#10095;</button>
      </div>

      <div class="slideshow-container">
        <button class="left-button" onclick="plusDivs(-1, 2)">&#10094;</button>
        <img class="mySlides3" src="../assets/rebox/3-slideshow/ofo.jpg">
        <img class="mySlides3" src="../assets/rebox/3-slideshow/gobox1.jpg">
        <img class="mySlides3" src="../assets/rebox/3-slideshow/gobox2.jpg">
        <img class="mySlides3" src="../assets/rebox/3-slideshow/ozzi.jpg">
        <button class="right-button" onclick="plusDivs(1, 2)">&#10095;</button>
      </div>

      <div class="slideshow-paragraphs">
        <div class="slideshow-card">
          <h2>Competitive Analysis</h2>
          <p>In order to assess the level of feasibility for this project I looked at some other similar business models and apps in order to see how other’s were already tackling similar problems.</p>
        </div>
        <div class="slideshow-card">
          <h2>Feasibility</h2>
          <p>During my research phase it became extremely evident that industry infrastructure was going to be a big concern. For example having the pickup vehicles to pick up the empty containers from drop cites, a commercial kitchen to clean all of the containers, a B2B app to deal with affiliated vendors and having enough workers to make it all run smoothly.</p>
        </div>
      </div>

      <div class="slideshow-container">
        <button class="left-button" onclick="plusDivs(-1, 3)">&#10094;</button>
        <div class="mySlides4">
          <img src="../assets/rebox/4-slideshow/paperproto.jpg">
          <div class="slideshow-writing">
            <h2>Paper Prototyping</h2>
            <p>Paper Prototyping is a great exercise as it allows you to quickly create a physical product that you can get users to interact with. You are able to mitigate issues before you spend hours building out high fidelity mocks. Some of the big insights I gained from my paper prototyping phase was that users were not a fan of the toggle option on the map and the rewards page as it was confusing. As well the concern was raised regarding inputting credit card information.</p>
          </div>
        </div>
        <div class="mySlides4">
          <img src="../assets/rebox/4-slideshow/wireframes.jpg">
          <div class="slideshow-writing">
            <h2>Wireframes</h2>
            <p>Wire-framing with my actual copy was incredibly important as it allowed me to iron out any odd titles that were to long and other usability issues before I committed to final designs. I try my best to stay away from UI kits as I feel they can influence the final design too much, not to say I don’t take full advantage of them for different attributes.</p>
          </div>
        </div>
        <div class="mySlides4">
          <img src="../assets/rebox/4-slideshow/usertesting.jpg">
          <div class="slideshow-writing">
            <h2>User Testing</h2>
            <p>User Testing takes place after each stage of paper prototyping and wire framing. It is an incredibly important part of my process as I feel that it allows me to tailor my design to users specific needs. Some key insights that I got from my user testing was that I should use a QR Code instead of a barcode and that if I could gamify the reward it would enhance the user experience.</p>
          </div>
        </div>
        <button class="right-button" onclick="plusDivs(1, 3)">&#10095;</button>
      </div>
    </div>

    <div class="interview-u-link"><a href="interview-u.html">Next Project: Interview-U <i class="fas fa-arrow-right"></i></a></div>

<script>
var slideIndex = [1,1,1,1];
var slideId = ["mySlides1", "mySlides2", "mySlides3", "mySlides4"]
showDivs(1, 0, 0);
showDivs(1, 1, 0);
showDivs(1, 2, 2);
showDivs(1, 3, 3);

function plusDivs(n, no) {
  showDivs(slideIndex[no] += n, no);
}

function showDivs(n, no) {
  var i;
  var x = document.getElementsByClassName(slideId[no]);
  if (n > x.length) {slideIndex[no] = 1}
  if (n < 1) {slideIndex[no] = x.length}
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";
  }
  x[slideIndex[no]-1].style.display = "block";
}
</script>


<!-- Slideshow container -->
    <!-- <div class="slideshow-container"> -->

      <!-- Full-width images with number and caption text -->
<!--       <div class="mySlides fade">
        <div class="numbertext">1 / 4</div>
        <img src="../assets/rebox/1-slideshow/infoarch.jpg" style="width:65vw">
        <div class="text">
          <h2>Information Architecture</h2>
          <p>The information architecture map helped me to visualize what top level elements would be and how they would relate to the other features. ReBox was relatively straight forward as their isn’t a huge amount of overlap between information.</p>
        </div>
      </div>

      <div class="mySlides fade">
        <div class="numbertext">2 / 4</div>
        <img src="../assets/rebox/1-slideshow/featureflow.jpg" style="width:65vw">
        <div class="text">
          <h2>Feature Flows</h2>
          <p>Feature flows allow me to explore the different paths and branches that users can take while completing different tasks. An insight gained from this exercise was that users have to enable their camera in order to use the app. This step can be completed during the on-boarding and sign up.</p>
        </div>
      </div>

      <div class="mySlides fade">
        <div class="numbertext">3 / 4</div>
        <img src="../assets/rebox/1-slideshow/userflow.jpg" style="width:65vw">
        <div class="text">
          <h2>User Flows</h2>
          <p>The purpose of the user flows are to identify the main paths the user is going to take through the app. By focusing on the main tasks that users will need to complete I was able to figure out how to tailor specific services to these use cases. An example would be with Dan the young professional, having a drop box around or even in his building would be convenient and good user experience.</p>
        </div>
      </div>

      <div class="mySlides fade">
        <div class="numbertext">4 / 4</div>
        <img src="../assets/rebox/1-slideshow/userstory.jpg" style="width:65vw">
        <div class="text">
          <h2>User Stories</h2>
          <p>The user case story delves into a potential users interaction with the app from discovery to continued use. It is a good exercise to identify how users will come across the app, how it fits into their daily life and what might incentivize them to continue using the app. From this exercise a major take away was that users will want a simple option to split the bill if they are ordering in a group.</p>
        </div>
      </div> -->
      <!-- Next and previous buttons
      <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
      <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>
    <br> -->

    <!-- The dots/circles -->
  <!--   <div class="slideshow-dots" style="text-align:center">
      <span class="dot" onclick="currentSlide(1)"></span>
      <span class="dot" onclick="currentSlide(2)"></span>
      <span class="dot" onclick="currentSlide(3)"></span>
      <span class="dot" onclick="currentSlide(3)"></span>
    </div> -->






















    <button onclick="topFunction()" id="myBtn" title="Go to top"><i class="fas fa-chevron-up"></i></button>

    <footer>
      <div class="social-media-icons">
        <a href="mailto:jillavis2@gmail.com"><i class="far fa-envelope"></i></a>
        <a href="https://www.linkedin.com/in/jillavis/"><i class="fab fa-linkedin-in"></i></a>
        <a href="https://www.instagram.com/dil.design/"><i class="fab fa-instagram"></i></a>
      </div>
    </footer>

</body>





</html>
