<!DOCTYPE html>
  <html class='' lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
      <link rel="stylesheet" href="../css/main.css">
      <link rel="stylesheet" href="../css/nav.css">
      <link rel="stylesheet" href="../css/home.css">
      <link rel="stylesheet" href="../css/footer.css">
      <link rel="stylesheet" href="../css/about.css">
      <link rel="stylesheet" href="../css/rebox.css">
      <link rel="stylesheet" href="../css/project.css">



      <title>About Dil</title>

  </head>


  <body>
    <header>
      <nav>
          <div class="logo">
            <img src="../assets/home/jill-logo.png" alt="logo">
          </div>

          <ul class="nav-links">
            <li><a href="work.html">Work</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="play.html">Play</a></li>
          </ul>
      </nav>
    </header>

    <div class="first-screen">
      <div class="first-screen-content">
        <h1 class="first-screen-title">01 ReBox App Design</h1>
        <p>This all began as a project for a 24 hour Hackathon. However, 24 hours just wasn’t enough for me. I wanted to go full UX on the idea. So here’s where I ended up.</p>
        <p>Hope you enjoy.</p>
        <h1>Role in Project</h1>
        <p>UX/UI Design, User Research, Prototyping, <br>Usability Testing, Competitive Analysis</p>
        <h1>Duration</h1>
        <p>6 weeks (February-March 2019)<br> Part-Time</p>
      </div>

      <div class="first-screen-image">
        <img src="../assets/rebox/homescreenReBox.png" alt="rebox-homescreen">
      </div>
    </div>

    <!-- THE NEXT SCREEN -->
    <div class="gradient-screen">
      <div class="first-screen">
        <div class="first-screen-content">
          <h1 class="first-screen-title">How it started</h1>
          <p>Given the task of tackling sustaible health my team and I came up with the idea of taking on the challenge of take out container waste. After the 24 hour period we had a cute XD prototype that had some features but I wasn’t satisfied. I wanted to go full UX on this sh** so this is where I landed.</p>
          <h1>Why I continued</h1>
          <p>As much as we like to think we are sustainable gurus here in Vancouver I am sad to say, we most certainly are not.</p>
        </div>
        <div class="second-screen-image">
          <img src="../assets/rebox/tweet.png" alt="tweet">
        </div>
      </div>
      <div class="quote">
        <h2>"Disposable cups and take-out containers make up roughly half of the garbage that's tossed in Vancouver's public waste bins"</h2>
        <h2>-Monica Kosmak</h2>
      </div>
    </div>

    <h1 class="break-title">How might we get rid of disposable containers forever...</h1>

    <div class="third-screen">
      <div class="third-screen-container">
        <div class="third-screen-writing">
          <h2><strong>ReBox:</strong> The reusable take out container service.</h2>
          <h2>Convenient, easy and sustainable.</h2>
        </div>
        <div class="third-screen-image">
          <img src="../assets/rebox/homescreenReBox.png" alt="homescreenReBox">
        </div>
      </div>
    </div>

    <div class="third-screen-b">
      <h2 class="goals-title">Goals</h2>
      <div class="goals">
        <div class="column">
          <h3 class="column-title">Make it the New Norm</h3>
          <p class="column-para">Replace preconceived notions about how takeout is practiced. No longer associated with disposable.</p>
        </div>
        <div class="column">
          <h3 class="column-title">Reduce Waste In VanCity</h3>
          <p class="column-para">At the moment HALF of the trash in our garbage cans is disposable containers. ReBox seeks to take actiona against this.</p>
        </div>
        <div class="column">
          <h3 class="column-title">Incentivise Continued Use</h3>
          <p class="column-para">It is one thing to get people to try your product, let alone use it on a regular basis! ReBox seeks to be so seemless that users will come back again and again.</p>
        </div>
      </div>
    </div>

    <h1 class="break-title">Let's take a look at the early adopters of ReBox</h1>

<!-- THESE ARE THE PROFILE CARDS -->

    <div class="profile-screen">
      <div class="profile-image">
        <img src="../assets/interview-u/lady-redhair.png" alt="Cartoon lady">
      </div>
      <div class="profile-screen-content">
        <h2 class="profile-title">Dan Lee: The Young Professional</h2>
        <div class="profile-columns">
          <div class="profile-column">
            <div class="section">
              <h3 class="green-title">About</h3>
              <hr></hr>
              <p>Age 25-35</p>
              <p>Yearly Salary $30 000-100 000</p>
              <p>Education: Undergrad</p>
            </div>
            <div class="section">
              <h3 class="green-title">Young Professional</h3>
              <hr></hr>
              <p>Tend to be career focused and hardworking. Limited time and resources, so time is money.</p>
            </div>
            <div class="section">
              <h3 class="green-title">Takeout Motivation</h3>
              <hr></hr>
              <ul>
                <li>Convenience</li>
                <li>Sustainability</li>
                <li>Efficiency</li>
                <li>Practical</li>
              </ul>
            </div>
          </div>

          <div class="profile-column">
            <div class="section">
              <h3 class="green-title">Motivations</h3>
              <hr></hr>
              <p>Motivated to further their career and put in the hours required. Educated and keen to help make change. They care a great deal about how they are perceived.</p>
            </div>
            <div class="section">
              <h3 class="green-title">Core Needs</h3>
              <hr></hr>
              <p>Being able to easily a reusable takeout service that required limited effort and time/</p>
            </div>
            <div class="section">
              <h3 class="green-title">Pain Points</h3>
              <hr></hr>
              <p>Eating out everyday, and seeing all of the waste produced. Not having time to cook lunch, so continuing the cycle. Caring about how their workers view them and their image.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="profile-screen">
      <div class="profile-image-2">
        <img src="../assets/interview-u/lady-redhair.png" alt="Cartoon lady">
      </div>
      <div class="profile-screen-content">
        <h2 class="profile-title">Sophie Gray: The University Student</h2>
        <div class="profile-columns">
          <div class="profile-column">
            <div class="section">
              <h3 class="green-title">About</h3>
              <hr></hr>
              <p>Age 18-25</p>
              <p>Yearly Salary <$30 000</p>
              <p>Education: Undergrad</p>
            </div>
            <div class="section">
              <h3 class="green-title">University Student</h3>
              <hr></hr>
              <p>Tends to have a very full schedule packed with all kinds of social events. Sustainability will often come second to convenienve. Highly influenced by trends and peer groups</p>
            </div>
            <div class="section">
              <h3 class="green-title">Takeout Motivation</h3>
              <hr></hr>
              <ul>
                <li>Convenience</li>
                <li>Sustainability</li>
                <li>Social</li>
                <li>Practical</li>
              </ul>
            </div>
          </div>

          <div class="profile-column">
            <div class="section">
              <h3 class="green-title">Motivations</h3>
              <hr></hr>
              <p>Motivated to finish their degree. Often influenced by their peer groups and influencers online in regard to their interest groups.</p>
            </div>
            <div class="section">
              <h3 class="green-title">Core Needs</h3>
              <hr></hr>
              <p>Being able to grab meals on the go that are fast and as easy as possible. Drop off points should be around major commuting routes.</p>
            </div>
            <div class="section">
              <h3 class="green-title">Pain Points</h3>
              <hr></hr>
              <p>Spending all of their money on food and alcohol. Not having enought time to cook and/or clean. Wanting to be a part of the change but not sure how to do it.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="break-title-2">
      <h2>Features</h3>
      <p>With a clear idea of who I was designing for I created features that I found would best serve their specific needs and use cases.</p>
    </div>

    <div class="feature-screen">
      <h2 class="feature-title">How ReBox Works: Onboarding</h2>
      <div class="feature-images">
        <img src="../assets/rebox/homescreenReBox.png" alt="reBox Homescreen">
        <img src="../assets/rebox/homescreenReBox.png" alt="reBox Homescreen">
        <img src="../assets/rebox/homescreenReBox.png" alt="reBox Homescreen">
        <img src="../assets/rebox/homescreenReBox.png" alt="reBox Homescreen">
        <img src="../assets/rebox/homescreenReBox.png" alt="reBox Homescreen">
      </div>
      <div class="feature-paragraphs">
        <p>The onboarding walks users through how the app is used IRL. It demonstrates the steps that physically take place and portrays how easily ReBox can be integrated into everyday life.</p>
        <p>Additionally during the onboarding users are prompted to make an account if they are to use ReBox’s services. During the sign up process users will need to give their credit card information.</p>
      </div>
    </div>

    <div class="feature-screen">
      <h2 class="feature-title">ReBox Map</h2>
      <div class="feature-images">
        <img src="../assets/rebox/homescreenReBox.png" alt="reBox Homescreen">
        <img src="../assets/rebox/homescreenReBox.png" alt="reBox Homescreen">
        <img src="../assets/rebox/homescreenReBox.png" alt="reBox Homescreen">
      </div>
      <div class="feature-paragraphs">
        <p>The onboarding walks users through how the app is used IRL. It demonstrates the steps that physically take place and portrays how easily ReBox can be integrated into everyday life.</p>
      </div>
    </div>

    <div class="feature-screen">
      <h2 class="feature-title">ReBox Scan</h2>
      <div class="feature-images">
        <img src="../assets/rebox/homescreenReBox.png" alt="reBox Homescreen">
        <img src="../assets/rebox/homescreenReBox.png" alt="reBox Homescreen">
        <img src="../assets/rebox/homescreenReBox.png" alt="reBox Homescreen">
      </div>
      <div class="feature-paragraphs">
        <p>The onboarding walks users through how the app is used IRL. It demonstrates the steps that physically take place and portrays how easily ReBox can be integrated into everyday life.</p>
        <p>The onboarding walks users through how the app is used IRL. It demonstrates the steps that physically take place and portrays how easily ReBox can be integrated into everyday life.</p>
      </div>
    </div>

    <div class="feature-screen">
      <h2 class="feature-title">My ReBox: Box's and Rewards</h2>
      <div class="feature-images">
        <img src="../assets/rebox/homescreenReBox.png" alt="reBox Homescreen">
        <img src="../assets/rebox/homescreenReBox.png" alt="reBox Homescreen">
        <img src="../assets/rebox/homescreenReBox.png" alt="reBox Homescreen">
      </div>
      <div class="feature-paragraphs">
        <p>The onboarding walks users through how the app is used IRL. It demonstrates the steps that physically take place and portrays how easily ReBox can be integrated into everyday life.</p>
      </div>
    </div>

    <div class="feature-screen">
      <h2 class="feature-title">Profile</h2>
      <div class="feature-images">
        <img src="../assets/rebox/homescreenReBox.png" alt="reBox Homescreen">
        <img src="../assets/rebox/homescreenReBox.png" alt="reBox Homescreen">
        <img src="../assets/rebox/homescreenReBox.png" alt="reBox Homescreen">
      </div>
      <div class="feature-paragraphs">
        <p>The onboarding walks users through how the app is used IRL. It demonstrates the steps that physically take place and portrays how easily ReBox can be integrated into everyday life.</p>
      </div>
    </div>








































    <footer>
      <div class="social-media-icons">
        <a href="mailto:jillavis2@gmail.com"><i class="far fa-envelope"></i></a>
        <a href="https://www.linkedin.com/in/jillavis/"><i class="fab fa-linkedin-in"></i></a>
        <a href="https://www.instagram.com/dil.design/"><i class="fab fa-instagram"></i></a>
      </div>
    </footer>

</body>





</html>
