<!DOCTYPE html>
  <html class='' lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
      <link rel="stylesheet" href="../css/nav.css">
      <link rel="stylesheet" href="../css/footer.css">
      <link rel="stylesheet" href="../css/work.css">
      <link rel="stylesheet" href="../css/main.css">
      <link rel="stylesheet" href="../css/rebox.css">

      <script type="text/javascript" src="../javascript/work.js"></script>


      <title>About Dil</title>

  </head>


  <body>
    <header>
      <nav>
          <div class="logo">
            <a href="index.html"><img src="../assets/home/jill-logo.png" alt="logo"></a>
          </div>

          <ul class="nav-links">
            <li><a href="work.html">Work</a></li>
            <li><a href="about.html">About</a></li>

          </ul>
      </nav>
    </header>

    <div class="work-container">
      <a href="rebox.html"><div class="app-image" id="rebox">
        <img src="../assets/rebox/1-landing.png" alt="rebox-homescreen">

      </div></a>

      <a href="interview-u.html"><div class="app-image" id="interview">
        <img src="../assets/interview-u/1.png" alt="interview-u-homescreen">

      </div></a>

    </div>






    <footer>
      <div class="social-media-icons">
        <a href="mailto:jillavis2@gmail.com"><i class="far fa-envelope"></i></a>
        <a href="https://www.linkedin.com/in/jillavis/"><i class="fab fa-linkedin-in"></i></a>
        <a href="https://www.instagram.com/dil.design/"><i class="fab fa-instagram"></i></a>
      </div>
    </footer>

</body>





</html>